@import "tailwindcss";

/* style scrollbar */

*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #3b82f6, #06b6d4);
  border-radius: 10px;
  border: 2px solid #f1f5f9;
}
*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #2563eb, #0891b2);
}
.cursor-pointer {
  cursor: pointer;
}
/* style scrollbar */
